.socialNetworks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  gap: 1rem;

  .socialButton {
    padding: .6rem;
    background-color: var(--text);
    border-radius: 5px;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: var(--text-light);
      color: var(--text);
    }
  }
}

#linkedin{
  color: #0072B1;
}

#github{
  color: rgb(77, 77, 77);
}

#instagran{
  color: #BC2A8D;
}